{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}<u>Meraki Snapshot - Settings</u>{% endblock %}</h1>

  <div class="row dbl-margin-bottom">
    <div class="col-12">
      <form method="post">
        <blockquote class="blockquote--danger">
          <h4>Clear Snapshot Schedule</h4>
          <label class="base-margin-right">Clear: <input class="checkbox" type="checkbox" name="clearSchedule"/></label>
        </blockquote>
        <blockquote class="blockquote--danger">
          <h3>Change Organization:</h3>
          {% for org in orgs %}
          <p>{{ org['name'] }} - (id: {{ org['id'] }})</p>
          {% endfor %}
          <label for="orgId">Change Organization To:</label>
          <input name="orgId" id="orgId" value="{{ request.form['orgId'] }}" required>
          <button class="btn btn--danger active" type="submit">Apply</button>
        </blockquote>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <blockquote class="blockquote--dark">
        <h3>User Info:</h3>
        <p>Username: {{ username }}</p>
        <p>Password (Hash): {{ password }}</p>
        <p>Access Token: {{ accessToken }}</p>
      </blockquote>
    </div>
  </div>

{% endblock %}