<!doctype html>
<head>
    <title>MERAKI PROTOTYPE</title>

    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cui-standard.min.css') }}">
    <script src="{{ url_for('static', filename='js/styleguide.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script>
        $( document ).ready(function() {
            console.log( "document loaded" );
        });

        $( window ).on( "load", function() {
            console.log( "window loaded" );
        });
    </script>

    <script>
        function toggleDateAndTime() {
            var x = document.getElementById("SelectDateAndTime");
            if (x.style.display === "none") { x.style.display = "block"; }
            else { x.style.display = "none"; }
        }


        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("StoredSnapshots");
            switching = true;

            // Set the sorting direction to ascending:
            dir = "asc";

            // Make a loop that will continue until no switching has been done
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;

                // Loop through all table rows (except the first, which contains table headers)
                for (i = 1; i < (rows.length - 1); i++) {

                    // Start by saying there should be no switching:
                    shouldSwitch = false;

                    // Get the two elements you want to compare, one from current row and one from the next
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    // Check if the two rows should switch place, based on the direction, asc or desc
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    // If a switch has been marked, make the switch and mark that a switch has been done
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    // Each time a switch is done, increase this count by 1:
                    switchcount ++;
                }
                else {
                    // If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#snapshotTime').datetimepicker();
        });
    </script>
</head>

<body class="cui">
    <div class="row">
        <div class="col-12 dbl-margin-bottom">
            <header class="header">
                <div class="container">
                    <div class="header-panels">
                        <div class="header-panel">
                            <a class="header__logo" href="https://www.meraki.cisco.com/" target="_blank">
                                <span><img src="{{ url_for('static', filename='img/meraki.jpeg') }}" style="height:40px; width:150px;"></span>
                            </a>
                            <div class="header__title">Multi-Site Snapshot Prototype</div>
                        </div>
                        {% if g.user %}
                        <div class="header-panel header-panel--right">
                            <div class="header-item">
                                <ul id="tabsheader" class="tabs">
                                    <li id="tabsheader-1" class="tab">
                                        <a tabindex="0" href="{{ url_for('blog.home') }}">
                                            <div class="tab__heading"><span class="icon-android-home"> Home</span></div>
                                        </a>
                                    </li>
                                    <li id="tabsheader-2" class="tab">
                                        <a tabindex="0" href="{{ url_for('blog.scheduledSnap') }}">
                                            <div class="tab__heading"><span class="icon-camera"> Scheduled</span></div>
                                        </a>
                                    </li>
                                    <li id="tabsheader-3" class="tab">
                                        <a tabindex="0" href="{{ url_for('blog.snaps') }}">
                                            <div class="tab__heading"><span class="icon-camera"> History</span></div>
                                        </a>
                                    </li>
                                    <li id="tabsheader-4" class="tab">
                                        <a tabindex="0" href="{{ url_for('blog.settings') }}">
                                            <div class="tab__heading"><span class="icon-cog"> Settings</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
               </div>
            </header>
        </div>
    </div>

    <div class="row base-margin-top">
        <nav class="sidebar col-1 dbl-margin-top" role="navigation">
            <ul>
                <li class="sidebar__item"><span>-</span></li>
                {% if g.user %}
                <li class="sidebar__item">
                    <a href="">
                        <span class="icon-contact"></span>
                        <span>{{ g.user['username'] }}</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="{{ url_for('auth.logout') }}">
                        <span class="icon-remove-contain"></span>
                        <span>Log Out</span>
                    </a>
                </li>
                {% else %}
                <li class="sidebar__item">
                    <a href="{{ url_for('auth.login') }}">
                        <span class="icon-contact"></span>
                        <span>Log In</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="{{ url_for('auth.register') }}">
                        <span class="icon-add-contain"></span>
                        <span>Register</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="col-11">
            <div class="panel panel--well">
                <section class="content">
                    <header>{% block header %}{% endblock %}</header>

                    {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}

                    <div class="panel">{% block content %}{% endblock %}</div>
                </section>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:120px;">
        <footer class="footer footer--dark col-12">
            <div class="footer__links">
                <ul class="list list--inline">
                    <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                    <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                    <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
