{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}<u>Register a New User</u>{% endblock %}</h1>
  <p>(<b>NOTE</b>: All fields are required!)</p>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="row base-margin-bottom">

      <div class="col-3">
        <label for="username">Username:</label>
        <input name="username" id="username" required>
      </div>

      <div class="col-3">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>

    </div>

    <div class="row base-margin-bottom">

      <div class="col-6">
        <label for="X_CISCO_MERAKI_API_KEY">API Key:</label>
        <input name="X_CISCO_MERAKI_API_KEY" id="X_CISCO_MERAKI_API_KEY" size="50" required>
      </div>
    </div>

    <div class="row base-margin-bottom">
      <div class="col-3">
        <input class="btn btn--danger active" type="submit" value="Register">
      </div>
    </div>

  </form>
{% endblock %}